@font-face {
  font-family: "Manrope";
  src: url(./Manrope.ttf) format("truetype");
  font-display: block;
}

@font-face {
  font-family: euro-icomoon;
  src: url(./euro-icomoon.ttf) format("truetype");
  font-display: block;
}

@font-face {
  font-family: euro-icomoon;
  src: url(./euro-icomoon.woff) format("woff");
  font-display: block;
}
