:root {
  --header-gradient: linear-gradient(93.5deg, #0232ff 0.59%, #010056 94.82%);
  --font-family-regular: "Manrope";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

a:focus,
button:focus {
  outline: none;
}

img,
svg {
  display: block;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-regular);
  line-height: 1.3;
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.navigation-wrapper {
  padding: 0 24px;
  background: var(--header-gradient);
}

.navigation {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 48px;
  width: 100%;
  max-width: 1392px;
  height: 80px;
  margin: 0 auto;
}

header svg {
  width: 84px;
  height: 38px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px 0;
}

.header-buttons a {
  display: flex;
  align-items: center;
  height: 38px;
  border-radius: 9999px;
  padding: 11px 12px;
  color: white;
  font-size: 16px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-buttons a:focus-visible {
  color: #0ef;
}

.header-buttons a.is-active {
  color: #00004b;
  font-weight: 600;
  background: #0ef;
  pointer-events: none;
}

.table-wrapper {
  padding: 0 24px 24px;
  color: white;
  font-size: 12px;
  background-color: #000040;
  background-image: url(https://shoneal.github.io/fantasy/images/header.avif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
}

.table-wrapper-inner {
  position: relative;
  z-index: 2;
  max-width: 1392px;
  margin: 0 auto;
}

.table-wrapper-inner-deep {
  width: 296px;
}

.table-wrapper p {
  width: fit-content;
  margin-left: auto;
  padding: 8px 12px;
  font-weight: 700;
}

.table li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
}

.table .its-me {
  backdrop-filter: blur(20px) invert(18%) opacity(96%);
}

.table span:nth-child(2) {
  font-weight: 600;
  font-size: 14px;
}

.table span:last-child {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.squad-wrapper {
  margin: 24px;
}

.squad {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1392px;
  margin: 0 auto;
}

.squad h2 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  text-transform: capitalize;
}

.squad-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  border: 1px solid #d0d8db;
  border-radius: 16px;
  padding: 24px;
}

.player-item {
  display: block;
  width: 140px;
  padding: 16px 0;
  text-align: center;
}

.player-head {
  position: relative;
  width: fit-content;
  margin: 0 auto 8px;
}

.avatar {
  width: 100%;
  border-radius: 50%;
  background-color: #dbdde9;
  aspect-ratio: 1;
}

.badge {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  aspect-ratio: 1;
}

.player-name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  color: #1a313c;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.player-points {
  color: #455c67;
  font-size: 12px;
  line-height: 1.3;
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  background:
    linear-gradient(93.5deg, #0232ff 0.59%, #010056 94.82%) 0 0 / 100% 50%
      no-repeat,
    white 0 50% / 100% 50% no-repeat;
  pointer-events: none;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background-color: white;
}

.popup-content header {
  padding: 0 24px;
  background: var(--header-gradient);
}

.button-wrapper {
  display: flex;
  align-items: center;
  max-width: 1392px;
  height: 80px;
  margin: 0 auto;
}

.button-wrapper button {
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.player-header-wrapper {
  position: relative;
  border-image: unset;
  padding-left: 24px;
  background-image: url(https://shoneal.github.io/fantasy/images/header.avif);
  background-position: top;
  background-size: cover;
}

.player-header-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      0deg,
      #000040 0%,
      color-mix(in srgb, transparent, #000040 0%) 47.12%
    ),
    linear-gradient(90deg, #0000004d 32.2%, #0000 52.62%);
}

.player-header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1392px;
  margin: 0 auto;
  padding-top: 24px;
  color: white;
}

.player-header-name h1 {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
}

.player-name-first {
  font-size: 40px;
}

.player-name-last {
  font-size: 60px;
}

.player-header-team {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0 0;
  font-size: 16px;
  line-height: normal;
}

.player-team-logo {
  width: 20px;
}

.player-header-points {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 168px;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  background-color: color-mix(in srgb, transparent, white 20%);
  backdrop-filter: blur(10px);
}

.player-header-image-wrapper {
  width: 440px;
}

.player-header-image {
  width: 100%;
}

.player-page {
  padding: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1392px;
  margin: 0 auto;
  color: #1a313c;
}

.player-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

.player-matches {
  display: flex;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #d0d8db #f1f3f8;
}

.player-matches-phases {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid #d0d8db;
  border-left: none;
}

.player-matches-phases:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid #d0d8db;
}

.player-matches-phases:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.player-matches h2 {
  position: sticky;
  left: 0;
  width: fit-content;
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.player-matches .status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d0d8db;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.player-matches .status span {
  max-width: 100px;
}

.stage-matches {
  display: flex;
  border-top: 1px solid #d0d8db;
}

.match-button {
  display: grid;
  grid-template-rows: 20px 64px 31px;
  justify-content: center;
  width: -webkit-fill-available;
  min-width: 88px;
  margin: 0;
  border: none;
  padding: 0;
  color: inherit;
  font-family: inherit;
  text-align: center;
  background: transparent;
}

.match-button:not(:last-child) {
  border-right: 1px solid #e3e8ea;
}

.match-button:not(.not-played) {
  cursor: pointer;
}

.match-button span:first-child {
  padding: 1px 4px;
  color: #1a313c;
  font-size: 12px;
  line-height: 18px;
}

.match-button img {
  grid-row-start: 2;
  width: 36px;
  margin: 12px 12px 16px;
}

.match-button span:last-child {
  display: flex;
  grid-row-start: 3;
  justify-content: center;
  align-items: center;
  height: 19px;
  margin: 0 auto 12px;
  border-radius: 2px;
  padding: 1px 6px;
  font-weight: 700;
  font-size: 12px;
  background: #00eeff;
}

.player-match {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 122px;
  border: 1px solid #d0d8db;
  border-radius: 16px;
  padding: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1 0 30%;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
}

.team-wrapper:first-child {
  order: 1;
}

.team-wrapper:last-child {
  flex-direction: row-reverse;
  order: 3;
}

.team-home {
  text-align: right;
}

.player-match img {
  width: 36px;
}

.match-score-wrapper {
  display: grid;
  flex: 0 0 84px;
  order: 2;
  grid-template-columns: minmax(0, 40px) 1fr minmax(0, 40px);
}

.match-score-wrapper::before,
.match-score-wrapper::after {
  content: "";
}

.match-score {
  min-width: 84px;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

.stats-wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
  column-gap: 48px;
  border: 1px solid #d0d8db;
  border-radius: 16px;
  padding: 24px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  row-gap: 24px;
  column-gap: 48px;
}

.stats div {
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-weight: 800;
  font-size: 32px;
  white-space: nowrap;
}

.stat-label {
  font-size: 14px;
  line-height: 1.3;
}

.stat-second-label {
  color: #637a85;
  font-size: 12px;
  line-height: 1.3;
}

.total-stats {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}

.total-stats .stat-label {
  font-weight: 700;
}

.selected {
  display: flex;
  align-items: center;
}

.selected::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  font-family: euro-icomoon !important;
  font-size: 11px;
  line-height: 1;
}

.player-of-the-match .selected::before {
  content: "\e947";
  color: #2c2c2c;
  background-color: #ffd300;
}

.captain .selected::before {
  content: "\e91e";
  color: white;
  background-color: #9a00ff;
}

@media (hover: hover) and (pointer: fine) {
  .header-buttons a:hover {
    color: #0ef;
  }
}

@media screen and (max-width: 1200px) {
  .stats-wrapper {
    grid-template-columns: 3fr 2fr;
  }

  .stats {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .stats-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .header {
    position: relative;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-image: linear-gradient(
        187.61deg,
        color-mix(in srgb, transparent, #000040 0%) 26.34%,
        #000040 87.34%
      )
      fill 1;
  }

  .table-wrapper {
    background-image: url(https://shoneal.github.io/fantasy/images/header-mobile.avif);
  }

  .table-wrapper-inner-deep {
    width: 100%;
  }

  .table li:not(.its-me):not(.my-neighbors) {
    display: none;
  }

  .squad {
    gap: 16px;
  }

  .squad h2 {
    margin-bottom: 16px;
  }

  .squad-list {
    column-gap: 16px;
    padding: 16px;
  }

  .player-item {
    width: 120px;
  }

  .badge {
    width: 24px;
  }

  .player-name-first {
    font-size: 32px;
  }

  .player-name-last {
    font-size: 48px;
  }

  .player-header-team {
    font-size: 14px;
  }

  .player-team-logo {
    width: 16px;
  }

  .player-header-image-wrapper {
    width: 276px;
  }

  .page {
    gap: 16px;
  }

  .stats-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .stats {
    gap: 16px;
    width: 100%;
  }

  .stat-value {
    font-size: 24px;
  }

  .total-stats {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .navigation-wrapper {
    padding: 0 16px;
  }

  .navigation {
    gap: 16px;
    height: 54px;
  }

  header svg {
    width: 60px;
    height: 27px;
  }

  .header-buttons {
    gap: 16px;
  }

  .header-buttons a {
    height: 30px;
    font-size: 14px;
    line-height: normal;
  }

  .table-wrapper {
    padding: 0 16px 16px;
  }

  .squad-wrapper {
    margin: 16px;
  }

  .squad h2 {
    font-size: 20px;
  }

  .player-item {
    width: 100px;
  }

  .popup-content header {
    padding: 0 16px;
  }

  .button-wrapper {
    max-width: 1392px;
    height: 54px;
  }

  .player-header-wrapper {
    border-image: linear-gradient(
        187.61deg,
        color-mix(in srgb, transparent, #000040 0%) 26.34%,
        #000040 87.34%
      )
      fill 1;
    padding: 16px 0;
    background-image: url(https://shoneal.github.io/fantasy/images/header-mobile.avif);
  }

  .player-header-wrapper::before {
    display: none;
  }

  .player-header {
    padding: 0;
    aspect-ratio: 25 / 30;
  }

  .player-header-name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 16px;
  }

  .player-header-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .player-header-image-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      180deg,
      color-mix(in srgb, transparent, #000040 0%) 0%,
      #000040 100%
    );
  }

  .player-title {
    font-size: 20px;
  }

  .player-match {
    height: 118px;
    padding: 8px 16px;
    font-size: 16px;
  }

  .match-score-wrapper {
    flex: 0 0 68px;
    grid-template-columns: minmax(0, 32px) 1fr minmax(0, 32px);
  }

  .match-score {
    min-width: 68px;
    font-size: 25.6px;
  }

  .stats-wrapper {
    padding: 16px;
  }

  .stats {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .stats div {
    flex-direction: row !important;
    align-items: center;
  }

  .stats div:not(:last-child) {
    margin: 4px 0 8px;
    border-bottom: 1px solid #dbdde9;
    padding-bottom: 12px;
  }

  .stats div:last-child {
    margin: 0 0 4px;
  }

  .stat-value {
    font-weight: 400;
    font-size: 14px;
  }

  .stats .stat-value {
    margin-right: 3px;
  }

  .stat-second-label,
  .total-stats .stat-value {
    margin-left: auto;
    color: #1a313c;
    font-weight: 600;
    font-size: 20px;
  }
}
