:root {
  --header-image: url(https://shoneal.github.io/fantasy/images/header.avif);
  --background: #f1f3f8;
  --primary-color: white;
  --identifier-primary-color: #1a313c;
  --identifier-secondary-color: #455c67;
  --header-background: #000040;
  --header-gradient: linear-gradient(93.5deg, #0232ff 0.59%, #010056 94.82%);
  --interaction: #0ef;
  --interaction-complete: #00004b;
  --border-color: #d0d8db;
  --avatar-background: #dbdde9;
  --scrollbar-color: #d0d8db;
  --scrollbar-background: #f1f3f8;
  --match-button-border: #e3e8ea;
  --secondary-label-color: #637a85;
  --yellow-card: #ffcd44;
  --red-card: #cb333b;
  --footer-background: #000040;
  --main-width: 1392px;
  --margin-desktop: 24px;
  --padding-desktop: 24px;
  --border-radius: 16px;
  --avatar-size: 140px;
  --badge-size: 40px;
  --spacing: 48px;
  --font-family-regular: "Golos Text", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

a:focus,
button:focus {
  outline: none;
}

img,
svg {
  display: block;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--identifier-primary-color);
  font-family: var(--font-family-regular);
  line-height: 1.3;
  background:
    var(--header-gradient) 0 0 / 100% 50% no-repeat,
    var(--footer-background) 0 50% / 100% 50% no-repeat;
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.navigation-wrapper {
  padding: 0 var(--margin-desktop);
  background: var(--header-gradient);
}

.navigation {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 48px;
  width: 100%;
  max-width: var(--main-width);
  height: 80px;
  margin: 0 auto;
}

header svg {
  width: 84px;
  height: 38px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: var(--margin-desktop);
  padding: 8px 0;
}

.header-buttons a {
  display: flex;
  align-items: center;
  height: 38px;
  border-radius: 9999px;
  padding: 11px 12px;
  color: var(--primary-color);
  font-size: 16px;
  line-height: normal;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-buttons a:focus-visible {
  color: var(--interaction);
}

.header-buttons a.is-active {
  color: var(--interaction-complete);
  font-weight: 500;
  background: var(--interaction);
  pointer-events: none;
}

.table-wrapper {
  padding: 0 var(--margin-desktop) var(--margin-desktop);
  color: var(--primary-color);
  font-size: 12px;
  background-color: var(--header-background);
  background-image: var(--header-image);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
}

.table-wrapper-inner {
  position: relative;
  z-index: 2;
  max-width: var(--main-width);
  margin: 0 auto;
}

.table-wrapper-inner-deep {
  width: 298px;
}

.table-wrapper p {
  width: fit-content;
  margin-left: auto;
  padding: 8px 12px;
  font-weight: 600;
}

.table li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
}

.table .its-me {
  backdrop-filter: blur(20px) invert(18%) opacity(96%);
}

.table span:first-child {
  line-height: normal;
}

.table span:nth-child(2) {
  font-weight: 500;
  font-size: 14px;
}

.table span:last-child {
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

main {
  padding: var(--margin-desktop);
  background-color: var(--background);
}

.squad-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--padding-desktop);
  max-width: var(--main-width);
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 29px;
  line-height: normal;
}

.squad {
  display: flex;
  flex-direction: column;
  gap: var(--padding-desktop);
}

.squad-role {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-desktop);
  background: var(--primary-color);
}

.squad h2 {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-transform: capitalize;
}

.squad-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.player-item {
  display: block;
  width: var(--avatar-size);
  padding: 16px 0;
  text-align: center;
}

.player-head {
  position: relative;
  width: fit-content;
  margin: 0 auto 8px;
}

.avatar-wrapper {
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--avatar-background);
}

.avatar {
  width: 100%;
  aspect-ratio: 1;
}

.badge-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: var(--badge-size);
  aspect-ratio: 1;
}

.badge {
  width: 100%;
}

.player-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.player-points {
  color: var(--identifier-secondary-color);
  font-size: 12px;
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  background:
    var(--header-gradient) 0 0 / 100% 50% no-repeat,
    var(--footer-background) 0 50% / 100% 50% no-repeat;
  pointer-events: none;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background-color: var(--background);
}

.popup-content header {
  padding: 0 var(--margin-desktop);
  background: var(--header-gradient);
}

.button-wrapper {
  display: flex;
  align-items: center;
  max-width: var(--main-width);
  height: 80px;
  margin: 0 auto;
}

.button-wrapper button {
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.player-header-wrapper {
  position: relative;
  border-image: unset;
  padding-left: var(--margin-desktop);
  background-image: var(--header-image);
  background-position: top;
  background-size: cover;
}

.player-header-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      0deg,
      var(--header-background) 0%,
      color-mix(in srgb, transparent, var(--header-background) 0%) 47.12%
    ),
    linear-gradient(90deg, #0000004d 32.2%, #0000 52.62%);
}

.player-header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--main-width);
  margin: 0 auto;
  padding-top: 24px;
  color: var(--primary-color);
}

.player-header-name h1 {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}

.player-name-first {
  font-size: 36px;
}

.player-name-last {
  font-size: 54px;
}

.player-header-team {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0 0;
  font-size: 16px;
  line-height: normal;
}

.player-team-logo {
  width: 20px;
}

.player-header-points {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 168px;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
  padding: 0 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  background-color: color-mix(in srgb, transparent, var(--primary-color) 20%);
  backdrop-filter: blur(10px);
}

.player-header-image-wrapper {
  width: 440px;
}

.player-header-image {
  width: 100%;
}

.player-page {
  padding: var(--margin-desktop);
}

.page {
  display: flex;
  flex-direction: column;
  gap: var(--padding-desktop);
  max-width: var(--main-width);
  margin: 0 auto;
}

.player-matches-wrapper {
  display: flex;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background);
}

.player-matches {
  display: flex;
  border-radius: calc(var(--border-radius) / 2);
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  overflow: auto;
  background-color: var(--primary-color);
}

.player-matches-phases {
  display: grid;
  grid-template-rows: auto 1fr;
}

.player-matches-phases:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.player-matches h2 {
  position: sticky;
  left: 0;
  width: fit-content;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.player-matches .status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.player-matches .status span {
  max-width: 100px;
}

.stage-matches {
  display: flex;
  border-top: 1px solid var(--border-color);
}

.match-button {
  display: grid;
  grid-template-rows: 20px 64px 31px;
  justify-content: center;
  width: -webkit-fill-available;
  min-width: 88px;
  margin: 0;
  border: none;
  padding: 0;
  color: inherit;
  font-family: inherit;
  text-align: center;
  background: transparent;
}

.match-button:not(:last-child) {
  border-right: 1px solid var(--match-button-border);
}

.match-button:not(.is-active) {
  border-bottom: 1px solid var(--border-color);
}

.match-button:not(.not-played) {
  cursor: pointer;
}

.match-button span:first-child {
  padding: 1px 4px;
  color: var(--identifier-primary-color);
  font-size: 12px;
  line-height: 18px;
}

.match-button img {
  grid-row-start: 2;
  width: 36px;
  margin: 12px 12px 16px;
}

.match-button span:last-child {
  display: flex;
  grid-row-start: 3;
  justify-content: center;
  align-items: center;
  height: 19px;
  margin: 0 auto 12px;
  border-radius: 2px;
  padding: 1px 6px;
  font-weight: 600;
  font-size: 12px;
  background: var(--interaction);
}

.player-match {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 122px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  background-color: var(--primary-color);
}

.team-wrapper {
  display: flex;
  flex: 1 0 30%;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
}

.team-wrapper p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-wrapper:first-child {
  order: 1;
}

.team-wrapper:last-child {
  flex-direction: row-reverse;
  order: 3;
}

.team-home {
  text-align: right;
}

.player-match img {
  width: 36px;
}

.match-score {
  flex: 0 0 84px;
  order: 2;
  font-weight: 600;
  font-size: 29px;
  letter-spacing: 2px;
  text-align: center;
}

.stats-wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
  column-gap: var(--spacing);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--margin-desktop);
  background-color: var(--primary-color);
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  row-gap: var(--padding-desktop);
  column-gap: var(--spacing);
}

.stats div {
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-weight: 600;
  font-size: 29px;
  white-space: nowrap;
}

.stat-label {
  font-size: 14px;
}

.stat-second-label {
  color: var(--secondary-label-color);
  font-size: 12px;
}

.total-stats {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}

.total-stats .stat-label {
  font-weight: 500;
}

.selected,
.yellow-card .stat-value,
.red-card .stat-value {
  display: flex;
  align-items: center;
}

.selected::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  font-family: euro-icomoon !important;
  font-size: 11px;
  line-height: 1;
}

.player-of-the-match .selected::before {
  content: "\e947";
  color: #2c2c2c;
  background-color: #ffd300;
}

.captain .selected::before {
  content: "\e91e";
  color: white;
  background-color: #9a00ff;
}

.card::before {
  content: "";
  width: 14px;
  height: 20px;
  margin-right: 5px;
  border-radius: 1px;
}

.yellow-card .card::before {
  background-color: var(--yellow-card);
}

.red-card .card::before {
  background-color: var(--red-card);
}

footer {
  padding: 64px 0;
  background-color: var(--footer-background);
}

footer div {
  max-width: var(--main-width);
  margin: 0 auto;
}

footer a {
  display: block;
  width: 80px;
  height: 77px;
  margin: 0 auto;
}

footer svg {
  width: 100%;
  height: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .header-buttons a:hover {
    color: var(--interaction);
  }
}

@media screen and (max-width: 1200px) {
  .stats-wrapper {
    grid-template-columns: 3fr 2fr;
  }

  .stats {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .stats-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 960px) {
  :root {
    --header-image: url(https://shoneal.github.io/fantasy/images/header-mobile.avif);
    --padding-desktop: 16px;
    --avatar-size: 120px;
    --badge-size: 24px;
    --spacing: 24px;
  }

  .header {
    position: relative;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-image: linear-gradient(
        187.61deg,
        color-mix(in srgb, transparent, var(--header-background) 0%) 26.34%,
        var(--header-background) 87.34%
      )
      fill 1;
  }

  .table-wrapper-inner-deep {
    width: 100%;
  }

  .table li:not(.its-me):not(.my-neighbors) {
    display: none;
  }

  .squad-list {
    column-gap: var(--padding-desktop);
  }

  .player-name-first {
    font-size: 29px;
  }

  .player-name-last {
    font-size: 43px;
  }

  .player-header-team {
    font-size: 14px;
  }

  .player-team-logo {
    width: 16px;
  }

  .player-header-image-wrapper {
    width: 276px;
  }

  .stats-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .stats {
    width: 100%;
  }

  .stat-value {
    font-size: 22px;
  }

  .total-stats {
    text-align: center;
  }

  footer {
    padding: var(--margin-desktop);
  }

  footer a {
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --footer-background: #0b0b63;
    --margin-desktop: 16px;
    --avatar-size: 100px;
  }

  .navigation {
    gap: 16px;
    height: 54px;
  }

  header svg {
    width: 60px;
    height: 27px;
  }

  .header-buttons a {
    height: 30px;
    font-size: 14px;
  }

  .title {
    font-size: 21px;
  }

  .squad h2 {
    font-size: 20px;
  }

  .button-wrapper {
    height: 54px;
  }

  .player-header-wrapper {
    border-image: linear-gradient(
        187.61deg,
        color-mix(in srgb, transparent, var(--header-background) 0%) 26.34%,
        var(--header-background) 87.34%
      )
      fill 1;
    padding: var(--margin-desktop) 0;
    background-image: var(--header-image);
  }

  .player-header-wrapper::before {
    display: none;
  }

  .player-header {
    padding: 0;
    aspect-ratio: 25 / 30;
  }

  .player-header-name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 var(--margin-desktop);
  }

  .player-header-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .player-header-image-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      180deg,
      color-mix(in srgb, transparent, var(--header-background) 0%) 0%,
      var(--header-background) 100%
    );
  }

  .player-match {
    height: 102px;
    padding: 8px var(--margin-desktop);
    font-size: 14px;
  }

  .match-score {
    flex: 0 0 68px;
    font-size: 21px;
  }

  .stats {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .stats div {
    flex-direction: row;
    align-items: center;
  }

  .stats div:not(:last-child) {
    margin: 4px 0 8px;
    border-bottom: 1px solid var(--avatar-background);
    padding-bottom: 12px;
  }

  .stats div:last-child {
    margin: 0 0 4px;
  }

  .stat-value {
    font-weight: inherit;
    font-size: 14px;
  }

  .stats .stat-value {
    margin-right: 3px;
  }

  .stat-second-label {
    margin-left: auto;
    color: var(--identifier-primary-color);
    font-weight: 500;
    font-size: 19px;
  }

  .total-stats .stat-value {
    font-weight: 600;
    font-size: 21px;
  }
}
